*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --dark-blue: #1d3557;
    --white : #f1faee;
    --yellow: #f29d4a;
    --darker-blue: #1d3577;
    --off-white:#F9FBFC;
}
.admin-dashboard .job-related{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 1vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.ps{
    color: #1d3557;
    padding: 0.5vw;
}
.placement-table-search{
    width: 60%;
    margin-left: 0.5vw !important;
    margin-top: 0.5vw !important;
}
.MuiOutlinedInput-input{
    padding: 1vw 1vw;
}
.MuiInputBase-input{
    height: 1vw !important;
}
.MuiInputLabel-outlined{
    z-index: 1;
    transform: translate(1vw, 0vw) scale(1) ;
    pointer-events: none;
}
.MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 1vw) scale(1) ;
}
.student-name a{
    color: #1d3557 !important;
    font-weight: 500;
    cursor: pointer;
}
.tb{
    font-family: 'Open Sans', sans-serif;
}

.search-csv{
    display: flex;
    justify-content: space-between;
}
#download-csv{
    font-family: 'Open Sans', sans-serif;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-size: 1vw;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
}