*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --dark-blue: #1d3557;
    --white : #f1faee;
    --yellow: #f29d4a;
    --darker-blue: #1d3577;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@300;400;500&display=swap');

.aj .profile-heading {
    margin-left: 1vw;
    flex: 0;
}
.job-page-container{
    display: flex;
    height: 100vh;
}
.some-box{
    background-color: white;
    flex: 1;
    margin: 1vw;
    margin-top: 5.5vw;
    box-shadow: rgba(9, 30, 66, 0.10) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.job-page{
    display: flex;
    flex-direction: column;
    margin: 1vw ;
    flex: 4;
}
.search-box{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border: 1px solid var(grey);
    display: flex;
    flex-direction: row;
    flex: 0.6;
    justify-content: center;
}
.search-box input{
    height: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 50%;
    padding: 0.3vw;
    border-radius: 6px;
    border: 1px solid rgb(207, 205, 205);
}
.search-box button{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    margin-left: 0.8vw;
    border-radius: 0.4vw;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    height: 2vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    padding-left: 0.9vw;
    padding-right: 0.9vw;
    font-size: 0.9vw;
    background-color: var(--dark-blue);
    color: white;
}
#search-icon{
    font-size: 0.8vw;
    cursor: pointer;
}
.job-container{
    flex: 6;
}
.aj {

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F9FBFC;
}

#JobDescription{
   
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.jdw{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.2vw;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;

}
.Company-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Company-logo img{
   
    height:  5vh;
    width: 5vh;
    margin: 1vh;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
}
.Job-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Job-title{
    font-size: 1vw;
}
.Company-title{
    font-size: 0.8vw;
    margin-top: 2%;
    color: rgb(114, 114, 114);
}
.jdw-top{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 1%;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    width: 60vw;
    font-weight: 300;
}
.jdw-top-left{
    display: flex;
    flex-direction: row;
    flex: 2;
}
.Job-status{
    flex: 1.5;
    color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9vw;
    align-items: left;
}
.job-role{
    margin: 2px;
    margin-top: none;
    font-size: 0.8vw;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    word-wrap:normal;
}

.job-tags{
    flex: 2;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 2vw;
}
.job-tags-2{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.job-salary{
    font-weight: 600;
    display: flex;
    font-size: 0.85vw;
    flex-direction: column;
    justify-content: center;
    color: #1d3557;
}
.job-apply button{
    background-color: #1d3557;
    border-radius: 0.2vw;
    border: none;
    height: 2vw;
    width: 7vw;
    color: #FFFFFF;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8vw;
    cursor: pointer;
}
.job-apply button:hover{
    background-color: #1d3577;
}
.tag{
    margin-top: 0.1vw !important;
    margin: 1vw;
    margin-left: 2vw !important;
    background-color: #F9FBFC;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    text-align: center;
    width: 5vw;
    border-radius: 5px;
    height: 2vw;
    font-weight: 500;
    font-size: 0.7vw;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eligibility-tag{
    flex: 1;
    background-color: #1d3557;
    width: 10%;
    color: #ffffff;
    text-align: center;
}
.hidden{
    width: 100%;
    padding: 20px;
    padding-top: 0px;
    font-size: 17px;
    word-wrap: break-word;
    color:#1d3557;
    background-color: #FFFFFF;
    border-radius: 15px;
}
.hidden hr{
    margin-top: 1.6%;
    color: rgb(200, 200, 200);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
}
.showDetails{
   color: #1d3557;
    background-color: #FFFFFF;
    height: 20%;
    padding: 20px;
    
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    font-size: 0.9vw;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
   border: none;
    cursor: pointer;
}
.showDetails:hover{
    color: #3154b4;
    transition:  1s ease 0.1s;
}
.some-box{
    display: flex;
    flex-direction: column;
   
}
.job-filters{
    flex: 1;
}

.filter{
    padding: 0.5vw;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
}
#filter-head{
    font-size: 1vw;
    margin-left: 1vw;
}
.MuiFormControlLabel-root{
    font-size: 0.95vw !important;
}
.MuiTypography-body1 {
    font-size: 0.9vw !important;
}
.filter h4{
    font-size: 1vw;
    padding-left: 0.2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-weight: 500;
}
